<% @lists.each do |book| %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>リーダブルコード</td>
        <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
        <td><a class="show_180711" href="/books/180711">Show</a></td>
        <td><a class="edit_180711" href="/books/180711/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_180711" rel="nofollow" data-method="delete" href="/books/180711">Destroy</a></td>
      </tr>
      <tr>
        <td>トラブル知らずのシステム設計</td>
        <td>システム設計の要点を図解で説明してくれます</td>
        <td><a class="show_180712" href="/books/180712">Show</a></td>
        <td><a class="edit_180712" href="/books/180712/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_180712" rel="nofollow" data-method="delete" href="/books/180712">Destroy</a></td>
      </tr>
      <tr>
        <td>たのしいRuby</td>
        <td>Rubyの入門におすすめです</td>
        <td><a class="show_180713" href="/books/180713">Show</a></td>
        <td><a class="edit_180713" href="/books/180713/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_180713" rel="nofollow" data-method="delete" href="/books/180713">Destroy</a></td>
      </tr>
      <tr>
        <td>入門Git</td>
        <td>gitについての基本操作から内部構造まで解説してくれます</td>
        <td><a class="show_180714" href="/books/180714">Show</a></td>
        <td><a class="edit_180714" href="/books/180714/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_180714" rel="nofollow" data-method="delete" href="/books/180714">Destroy</a></td>
      </tr>
      <tr>
        <td>アルゴリズム図鑑</td>
        <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
        <td><a class="show_180715" href="/books/180715">Show</a></td>
        <td><a class="edit_180715" href="/books/180715/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_180715" rel="nofollow" data-method="delete" href="/books/180715">Destroy</a></td>
      </tr>
      <tr>
        <td>達人プログラマー</td>
        <td>プログラマ入門者は必読！</td>
        <td><a class="show_180716" href="/books/180716">Show</a></td>
        <td><a class="edit_180716" href="/books/180716/edit">Edit</a></td>
        <td><a data-confirm="Are you sure?" class="destroy_180716" rel="nofollow" data-method="delete" href="/books/180716">Destroy</a></td>
      </tr>
  </tbody>
</table>